<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>sortbyalphabet</servlet-name>
        <servlet-class>ajaxservlets.SortServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoServlet</servlet-name>
        <servlet-class>servlets.EditInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipePicServlet</servlet-name>
        <servlet-class>servlets.RecipePicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <servlet-class>servlets.DeleteRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeServlet</servlet-name>
        <servlet-class>servlets.AddRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIngredientServlet</servlet-name>
        <servlet-class>servlets.AddIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIngredientServlet</servlet-name>
        <servlet-class>servlets.EditIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIngredientServlet</servlet-name>
        <servlet-class>servlets.DeleteIngredientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sortbyalphabet</servlet-name>
        <url-pattern>/sort/name</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoServlet</servlet-name>
        <url-pattern>/EditInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipePicServlet</servlet-name>
        <url-pattern>/RecipePicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <url-pattern>/DeleteRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeServlet</servlet-name>
        <url-pattern>/AddRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIngredientServlet</servlet-name>
        <url-pattern>/AddIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIngredientServlet</servlet-name>
        <url-pattern>/EditIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIngredientServlet</servlet-name>
        <url-pattern>/DeleteIngredientServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
